<footer>
  <div class="flex-container">
    <div class="flex-left">
      <h2>Anfahrt</h2>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3568.29622032443!2d6.515671246988937!3d50.77248786023252!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47bf690d40612c8d%3A0xa1713fd9f9c3d7a2!2sSt.%20Ewaldus%20Sch%C3%BCtzengilde%20D%C3%BCren%201560%20E.V.!5e0!3m2!1sde!2sde!4v1600614329803!5m2!1sde!2sde"
        frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
    <div class="flex-mid">
      <h2>Adresse</h2>
      <p>
        Landstraße<br>
        52351 Düren<br>
        <br>
        info@st-ewaldus-gilde-dueren.de
        <br>
        <br>
      </p>
      <h2>Offizielle Postanschrift</h2>
      <p>
        St. Ewaldus Schützengilde Düren 1560 e.v.<br>
        Valencienner Straße 2<br>
        52355 Düren
      </p>
    </div>
    <div class="flex-right">
      <h2>Der Gilde-Vorstand</h2>
      <p>
        Vorsitzender: Max Mustermann<br>
        Kassenführer: Max Mustermann<br>
        Schriftführer: Max Mustermann<br>
        Beisitzer: Max Mustermann
      </p>
    </div>
  </div>
  <div class="copyright">
    <p>&copy; Copyright - <a href="http://" target="_blank">St. Ewaldus Schützengilde Düren</a> - powered by <a
        href="http://" target="_blank">Blueberry Media</a>
    </p>
  </div>

  <div class="login">
    <a routerLink="/impressum" target="_blank">Impressum</a>
    <a routerLink="/login" target="_blank"><span>Login</span></a>
  </div>
</footer>
